Lead/Flow/LEAD_New_lead_link_to_contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Anton_Bauer</name>
        <label>Anton Bauer</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Autocue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Anton_Bauer_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Anton Bauer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFDC_Contact_ID__r.Anton_Bauer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Anton_Bauer</targetReference>
            </connector>
            <label>Anton Bauer Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Autocue</name>
        <label>Autocue</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Autocue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Autocue_Selcted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Autocue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFDC_Contact_ID__r.Autocue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Autocue</targetReference>
            </connector>
            <label>Autocue Selcted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Is_Subscribed_to_all</name>
        <label>Contact Is Subscribed to all</label>
        <locationX>248</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Anton_Bauer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subscribe_to_all_ticked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscribe_to_all_brands__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes - Subscribe to All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subscribe_to_all_brands_update</targetReference>
            </connector>
            <label>Subscribe to all ticked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Autocue</name>
        <label>Autoscript</label>
        <locationX>446</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>OConnor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Autoscript_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Autoscript</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFDC_Contact_ID__r.Autoscript__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Autoscript</targetReference>
            </connector>
            <label>Autoscript selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Lead_match_existing_contact</name>
        <label>Does Lead match existing contact?</label>
        <locationX>545</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact ID</defaultConnectorLabel>
        <rules>
            <name>ContactID_Starts_with_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_with_contact</targetReference>
            </connector>
            <label>ContactID Starts with 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Litepanels</name>
        <label>Litepanels</label>
        <locationX>446</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Quasar_Science</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Litepanels_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Litepanels</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFDC_Contact_ID__r.Litepanels__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Litepanels</targetReference>
            </connector>
            <label>Litepanels Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>OConnor</name>
        <label>OConnor</label>
        <locationX>446</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Litepanels</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OConnor_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>OConnor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFDC_Contact_ID__r.OConnor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OConnor</targetReference>
            </connector>
            <label>OConnor Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quasar_Science</name>
        <label>Quasar Science</label>
        <locationX>446</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Sachtler</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quasar_Science_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Quasar Science</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFDC_Contact_ID__r.Quasar_Science__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quasar_Science</targetReference>
            </connector>
            <label>Quasar Science Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sachtler</name>
        <label>Sachtler</label>
        <locationX>446</locationX>
        <locationY>2555</locationY>
        <defaultConnector>
            <targetReference>Vinten</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sachtler_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sachtler</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFDC_Contact_ID__r.Sachtler__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sachtler</targetReference>
            </connector>
            <label>Sachtler Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vinten</name>
        <label>Vinten</label>
        <locationX>446</locationX>
        <locationY>2855</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vinten_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Vinten</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFDC_Contact_ID__r.Vinten__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Vinten</targetReference>
            </connector>
            <label>Vinten Selected</label>
        </rules>
    </decisions>
    <description>Undo of the Hardbounce work</description>
    <environments>Default</environments>
    <interviewLabel>LEAD - New lead link to contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LEAD - New lead link to contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_New_Contact_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Most_Recent__c</field>
            <value>
                <elementReference>$Record.Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Newsletter_Subscription_Form__c</field>
            <value>
                <elementReference>$Record.Newsletter_Subscription_Form__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscribe_to_all_brands__c</field>
            <value>
                <elementReference>$Record.Subscribe_to_all_brands__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_contact</name>
        <label>Get contact</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_match_existing_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Contact_ID</name>
        <label>Get New Contact ID</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_with_New_Contact_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>NewContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Subscribe_to_all_brands_update</name>
        <label>Subscribe to all brands update</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Subscribe_to_all_brands__c</field>
            <value>
                <elementReference>$Record.Subscribe_to_all_brands__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SFDC_Contact_ID__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Anton_Bauer</name>
        <label>Update Anton Bauer</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Autocue</targetReference>
        </connector>
        <inputAssignments>
            <field>Anton_Bauer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SFDC_Contact_ID__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Autocue</name>
        <label>Update Autocue</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Copy_1_of_Autocue</targetReference>
        </connector>
        <inputAssignments>
            <field>Autocue__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SFDC_Contact_ID__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Autoscript</name>
        <label>Update Autoscript</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>OConnor</targetReference>
        </connector>
        <inputAssignments>
            <field>Autoscript__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SFDC_Contact_ID__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_with_contact</name>
        <label>Update Lead with contact</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Contact_Is_Subscribed_to_all</targetReference>
        </connector>
        <inputAssignments>
            <field>SFDC_Contact_ID__c</field>
            <value>
                <elementReference>Get_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_with_New_Contact_ID</name>
        <label>Update Lead with New Contact ID</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>SFDC_Contact_ID__c</field>
            <value>
                <elementReference>NewContactID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Litepanels</name>
        <label>Update Litepanels</label>
        <locationX>314</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Quasar_Science</targetReference>
        </connector>
        <inputAssignments>
            <field>Litepanels__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SFDC_Contact_ID__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OConnor</name>
        <label>Update OConnor</label>
        <locationX>314</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Litepanels</targetReference>
        </connector>
        <inputAssignments>
            <field>OConnor__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SFDC_Contact_ID__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quasar_Science</name>
        <label>Update Quasar Science</label>
        <locationX>314</locationX>
        <locationY>2363</locationY>
        <connector>
            <targetReference>Sachtler</targetReference>
        </connector>
        <inputAssignments>
            <field>Quasar_Science__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SFDC_Contact_ID__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sachtler</name>
        <label>Update Sachtler</label>
        <locationX>314</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>Vinten</targetReference>
        </connector>
        <inputAssignments>
            <field>Sachtler__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SFDC_Contact_ID__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vinten</name>
        <label>Update Vinten</label>
        <locationX>314</locationX>
        <locationY>2963</locationY>
        <inputAssignments>
            <field>Vinten__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SFDC_Contact_ID__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_contact</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FoundContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
