Contact/Flow/Contact_Set_Expired_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_contact_expired</name>
        <label>Is contact expired</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Set_Expired_Date_to_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active</defaultConnectorLabel>
        <rules>
            <name>Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Expired_Date</targetReference>
            </connector>
            <label>Expired</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NullDate</name>
        <dataType>Date</dataType>
        <expression>Null</expression>
    </formulas>
    <interviewLabel>Contact - Set Expired Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Set Expired Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Expired_Date_to_blank</name>
        <label>Set Expired Date to blank</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>ADMIN_Expired__c</field>
            <value>
                <elementReference>NullDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Expired_Date</name>
        <label>Update Expired Date</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>ADMIN_Expired__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_contact_expired</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Contact_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>ADMIN_Expired__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>ADMIN_Expired__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
