Contact/Flow/CONTACT_Subscribe_to_all_brands.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>CONTACT - Subscribe to all brands {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTACT - Subscribe to all brands</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>subscribe_to_all_brands</name>
        <label>subscribe to all brands</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Update_Subscription_Field_to_Blank</targetReference>
        </connector>
        <inputAssignments>
            <field>AUDIX__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anton_Bauer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Autocue__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Autoscript__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gitzo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JOBY__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lightstream__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Litepanels__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lowepro__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manfrotto__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OConnor__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_AUDIX__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Anton_Bauer__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Autocue__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Autoscript__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Gitzo__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_JOBY__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Lightstream__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Litepanels__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Lowepro__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Manfrotto__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_OConnor__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Quasar_Science__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Rycote__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Sachtler__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Savage__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_SmallHD__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Teradek__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Vinten__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Wooden_Camera__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_AUDIX__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Anton_Bauer__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Autocue__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Autoscript__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Gitzo__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_JOBY__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Lightstream__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Litepanels__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Lowepro__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Manfrotto__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_OConnor__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Quasar_Science__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Rycote__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Sachtler__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Savage__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_SmallHD__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Teradek__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Vinten__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Wooden_Camera__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quasar_Science__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rycote__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sachtler__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Savage__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SmallHD__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Teradek__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vinten__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wooden_Camera__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subscription_Field_to_Blank</name>
        <label>Update Subscription Field to Blank</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Subscribe_to_all_brands__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>subscribe_to_all_brands</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscribe_to_all_brands__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes - Subscribe to All</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
