Contact/Flow/CONTACT_Subscription_Update_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Autoscript</name>
        <label>Subscription = Autoscript</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Subscription_OConnor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subscription_Autoscript</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Autoscript</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Autoscript__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_Autoscript__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_Autoscript__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Autoscript_Subscription_Data</targetReference>
            </connector>
            <label>Subscription = Autoscript</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Anton_Bauer</name>
        <label>Subscription = Anton/Bauer</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Subscription_Autocue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Anton_Bauer</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Anton Bauer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Anton_Bauer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_Anton_Bauer__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_Anton_Bauer__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Anton_Bauer_Subscription_Data</targetReference>
            </connector>
            <label>Anton/Bauer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Audix</name>
        <label>Subscription = Audix</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Subscription_JOBY</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Audix</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Audix</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AUDIX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_AUDIX__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_AUDIX__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Audix_Subscription_Data</targetReference>
            </connector>
            <label>Audix</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Autocue</name>
        <label>Subscription = Autocue</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Autoscript</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Autocue</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Autocue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Autocue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_Autocue__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_Autocue__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Autocue_Subscription_Data</targetReference>
            </connector>
            <label>Autocue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Avenger</name>
        <label>Subscription = Avenger</label>
        <locationX>182</locationX>
        <locationY>5987</locationY>
        <defaultConnector>
            <targetReference>Update_Newsletter_Subscription_Form_to_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Avenger</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Avenger</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Avenger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_Avenger__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_Avenger__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Avenger_Subscription_Data</targetReference>
            </connector>
            <label>Avenger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Gitzo</name>
        <label>Subscription = Gitzo</label>
        <locationX>182</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>Subscription_Lightstream</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gitzo</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gitzo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Gitzo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_Gitzo__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_Gitzo__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Gitzo_Subscription_Data</targetReference>
            </connector>
            <label>Gitzo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_JOBY</name>
        <label>Subscription = JOBY</label>
        <locationX>182</locationX>
        <locationY>2987</locationY>
        <defaultConnector>
            <targetReference>Subscription_Gitzo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>JOBY</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>JOBY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JOBY__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_JOBY__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_JOBY__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_JOBY_Subscription_Data</targetReference>
            </connector>
            <label>JOBY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Lightstream</name>
        <label>Subscription = Lightstream</label>
        <locationX>182</locationX>
        <locationY>3587</locationY>
        <defaultConnector>
            <targetReference>Subscription_Lowepro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lightstream</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Lightstream</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lightstream__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_Lightstream__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_Lightstream__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Lightstream_Subscription_Data</targetReference>
            </connector>
            <label>Lightstream</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Litepanels</name>
        <label>Subscription = Litepanels</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Subscription_Quasar_Science</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Litepanels</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Litepanels</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Litepanels__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_Litepanels__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_Litepanels__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Litepanels_Subscription_Data</targetReference>
            </connector>
            <label>Litepanels</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Lowepro</name>
        <label>Subscription = Lowepro</label>
        <locationX>182</locationX>
        <locationY>3887</locationY>
        <defaultConnector>
            <targetReference>Subscription_Manfrotto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lowepro</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Lowepro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lowepro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_Lowepro__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_Lowepro__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Lowepro_Subscription_Data</targetReference>
            </connector>
            <label>Lowepro</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Manfrotto</name>
        <label>Subscription = Manfrotto</label>
        <locationX>182</locationX>
        <locationY>4187</locationY>
        <defaultConnector>
            <targetReference>Subscription_Rycote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manfrotto</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Manfrotto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manfrotto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_Manfrotto__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_Manfrotto__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Manfrotto_Subscription_Data</targetReference>
            </connector>
            <label>Manfrotto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_OConnor</name>
        <label>Subscription = OConnor</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Subscription_Litepanels</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oconnor</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>OConnor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OConnor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_OConnor__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_OConnor__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_OConnor_Subscription_Data</targetReference>
            </connector>
            <label>Oconnor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Quasar_Science</name>
        <label>Subscription = Quasar Science</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Subscription_Sachtler</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quasar_Science</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Quasar Science</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quasar_Science__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_Quasar_Science__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_Quasar_Science__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Quasar_Science_Subscription_Fields</targetReference>
            </connector>
            <label>Quasar Science</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Rycote</name>
        <label>Subscription = Rycote</label>
        <locationX>182</locationX>
        <locationY>4487</locationY>
        <defaultConnector>
            <targetReference>Subscription_Savage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rycote</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Rycote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rycote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_Rycote__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_Rycote__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Rycote_Subscription_Data</targetReference>
            </connector>
            <label>Rycote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Sachtler</name>
        <label>Subscription = Sachtler</label>
        <locationX>182</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Subscription_Vinten</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sachtler</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sachtler</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sachtler__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_Sachtler__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_Sachtler__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Sachtler_Subscription_Data</targetReference>
            </connector>
            <label>Sachtler</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Savage</name>
        <label>Subscription = Savage</label>
        <locationX>182</locationX>
        <locationY>4787</locationY>
        <defaultConnector>
            <targetReference>Subscription_SmallHD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Savage</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Savage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Savage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_Savage__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_Savage__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Savage_Subscription_Data</targetReference>
            </connector>
            <label>Savage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_SmallHD</name>
        <label>Subscription = SmallHD</label>
        <locationX>182</locationX>
        <locationY>5087</locationY>
        <defaultConnector>
            <targetReference>Subscription_Teradek</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SmallHD</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SmallHD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SmallHD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_SmallHD__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_SmallHD__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_SmallHD_Subscription_Data</targetReference>
            </connector>
            <label>SmallHD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Teradek</name>
        <label>Subscription = Teradek</label>
        <locationX>182</locationX>
        <locationY>5387</locationY>
        <defaultConnector>
            <targetReference>Subscription_Wooden_Camera</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Teradek</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Teradek</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Teradek__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_Teradek__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_Teradek__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Teradek_Subscription_Data</targetReference>
            </connector>
            <label>Teradek</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Vinten</name>
        <label>Subscription = Vinten</label>
        <locationX>182</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>Subscription_Audix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vinten</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Vinten</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vinten__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_Vinten__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_Vinten__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Vinten_Subscription_Data</targetReference>
            </connector>
            <label>Vinten</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Wooden_Camera</name>
        <label>Subscription = Wooden Camera</label>
        <locationX>182</locationX>
        <locationY>5687</locationY>
        <defaultConnector>
            <targetReference>Subscription_Avenger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wooden_Camera</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Newsletter_Subscription_Form__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Wooden Camera</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Wooden_Camera__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Method_Wooden_Camera__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_In_Consent_Given_Wooden_Camera__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Wooden_Camera_Subscription_Data</targetReference>
            </connector>
            <label>Wooden Camera</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CONTACT Subscription Update Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTACT Subscription Update Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Anton_Bauer_Subscription_Data</name>
        <label>Update Anton/Bauer Subscription Data</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Subscription_Autocue</targetReference>
        </connector>
        <inputAssignments>
            <field>Anton_Bauer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Anton_Bauer__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Anton_Bauer__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Audix_Subscription_Data</name>
        <label>Update Audix Subscription Data</label>
        <locationX>50</locationX>
        <locationY>2795</locationY>
        <connector>
            <targetReference>Subscription_JOBY</targetReference>
        </connector>
        <inputAssignments>
            <field>AUDIX__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_AUDIX__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_AUDIX__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Autocue_Subscription_Data</name>
        <label>Update Autocue Subscription Data</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Autoscript</targetReference>
        </connector>
        <inputAssignments>
            <field>Autocue__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Autocue__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Autocue__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Autoscript_Subscription_Data</name>
        <label>Update Autoscript Subscription Data</label>
        <locationX>50</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>Subscription_OConnor</targetReference>
        </connector>
        <inputAssignments>
            <field>Autoscript__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Autoscript__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Autoscript__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Avenger_Subscription_Data</name>
        <label>Update Avenger Subscription Data</label>
        <locationX>50</locationX>
        <locationY>6095</locationY>
        <connector>
            <targetReference>Update_Newsletter_Subscription_Form_to_Blank</targetReference>
        </connector>
        <inputAssignments>
            <field>Avenger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Avenger__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Avenger__c</field>
            <value>
                <elementReference>$Record.Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Gitzo_Subscription_Data</name>
        <label>Update Gitzo Subscription Data</label>
        <locationX>50</locationX>
        <locationY>3395</locationY>
        <connector>
            <targetReference>Subscription_Lightstream</targetReference>
        </connector>
        <inputAssignments>
            <field>Gitzo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Gitzo__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Gitzo__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_JOBY_Subscription_Data</name>
        <label>Update JOBY Subscription Data</label>
        <locationX>50</locationX>
        <locationY>3095</locationY>
        <connector>
            <targetReference>Subscription_Gitzo</targetReference>
        </connector>
        <inputAssignments>
            <field>JOBY__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_JOBY__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_JOBY__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lightstream_Subscription_Data</name>
        <label>Update Lightstream Subscription Data</label>
        <locationX>50</locationX>
        <locationY>3695</locationY>
        <connector>
            <targetReference>Subscription_Lowepro</targetReference>
        </connector>
        <inputAssignments>
            <field>Lightstream__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Lightstream__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Lightstream__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Litepanels_Subscription_Data</name>
        <label>Update Litepanels Subscription Data</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Subscription_Quasar_Science</targetReference>
        </connector>
        <inputAssignments>
            <field>Litepanels__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Litepanels__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Litepanels__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lowepro_Subscription_Data</name>
        <label>Update Lowepro Subscription Data</label>
        <locationX>50</locationX>
        <locationY>3995</locationY>
        <connector>
            <targetReference>Subscription_Manfrotto</targetReference>
        </connector>
        <inputAssignments>
            <field>Lowepro__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Lowepro__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Lowepro__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Manfrotto_Subscription_Data</name>
        <label>Update Manfrotto Subscription Data</label>
        <locationX>50</locationX>
        <locationY>4295</locationY>
        <connector>
            <targetReference>Subscription_Rycote</targetReference>
        </connector>
        <inputAssignments>
            <field>Manfrotto__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Manfrotto__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Manfrotto__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Newsletter_Subscription_Form_to_Blank</name>
        <label>Update Newsletter Subscription Form to Blank</label>
        <locationX>182</locationX>
        <locationY>6287</locationY>
        <inputAssignments>
            <field>Newsletter_Subscription_Form__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OConnor_Subscription_Data</name>
        <label>Update OConnor Subscription Data</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Subscription_Litepanels</targetReference>
        </connector>
        <inputAssignments>
            <field>OConnor__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Consent_Given_OConnor__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_OConnor__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quasar_Science_Subscription_Fields</name>
        <label>Update Quasar Science Subscription Fields</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Subscription_Sachtler</targetReference>
        </connector>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Quasar_Science__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Quasar_Science__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quasar_Science__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rycote_Subscription_Data</name>
        <label>Update Rycote Subscription Data</label>
        <locationX>50</locationX>
        <locationY>4595</locationY>
        <connector>
            <targetReference>Subscription_Savage</targetReference>
        </connector>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Rycote__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Rycote__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rycote__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sachtler_Subscription_Data</name>
        <label>Update Sachtler Subscription Data</label>
        <locationX>50</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>Subscription_Vinten</targetReference>
        </connector>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Sachtler__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Sachtler__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sachtler__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Savage_Subscription_Data</name>
        <label>Update Savage Subscription Data</label>
        <locationX>50</locationX>
        <locationY>4895</locationY>
        <connector>
            <targetReference>Subscription_SmallHD</targetReference>
        </connector>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Savage__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Savage__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Savage__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SmallHD_Subscription_Data</name>
        <label>Update SmallHD Subscription Data</label>
        <locationX>50</locationX>
        <locationY>5195</locationY>
        <connector>
            <targetReference>Subscription_Teradek</targetReference>
        </connector>
        <inputAssignments>
            <field>Opt_In_Consent_Given_SmallHD__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_SmallHD__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SmallHD__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Teradek_Subscription_Data</name>
        <label>Update Teradek Subscription Data</label>
        <locationX>50</locationX>
        <locationY>5495</locationY>
        <connector>
            <targetReference>Subscription_Wooden_Camera</targetReference>
        </connector>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Teradek__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Teradek__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Teradek__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vinten_Subscription_Data</name>
        <label>Update Vinten Subscription Data</label>
        <locationX>50</locationX>
        <locationY>2495</locationY>
        <connector>
            <targetReference>Subscription_Audix</targetReference>
        </connector>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Vinten__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Vinten__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vinten__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Wooden_Camera_Subscription_Data</name>
        <label>Update Wooden Camera Subscription Data</label>
        <locationX>50</locationX>
        <locationY>5795</locationY>
        <connector>
            <targetReference>Subscription_Avenger</targetReference>
        </connector>
        <inputAssignments>
            <field>Opt_In_Consent_Given_Wooden_Camera__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In_Method_Wooden_Camera__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Most_Recent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wooden_Camera__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Subscription_Anton_Bauer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>Contains</operator>
            <value>
                <stringValue>@</stringValue>
            </value>
        </filters>
        <filters>
            <field>Newsletter_Subscription_Form__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_Source_Most_Recent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Subscriptions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
