Account/Flows/Account_Created_or_Updated_Master_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Additional_Discount_Check</name>
        <label>Additional Discount Check</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Are_Navex_Checks_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Discount_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Discount_on_Brands__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Justification_4_Changing_Discount_Class__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IFS_SFDC_Link_Confirmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Discount_Notify_Helpdesk</targetReference>
            </connector>
            <label>Additional Discount Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Address_Null_Check</name>
        <label>Address Null Check</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Credit_Payment_and_Delivery_Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingStreet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Key_Address_Information_Missing</targetReference>
            </connector>
            <label>Address Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Navex_Checks_Required</name>
        <label>Are Navex Checks Required</label>
        <locationX>182</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Is_the_Expired_Date_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Navex_Checks_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Navex_Compliance_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navex_Compliance_Checks_before_set_up_in_IFS</targetReference>
            </connector>
            <label>Yes - Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_See_if_Billing_Country_Has_Changed</name>
        <label>Check to See if Billing Country Has Changed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Address_Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billling_Country_Has_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingCountryChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Region_Update</targetReference>
            </connector>
            <label>Billling Country Has Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Payment_and_Delivery_Null_Check</name>
        <label>Credit, Payment and Delivery Null Check</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Additional_Discount_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Payment_Delivery_Is_null</name>
            <conditionLogic>1 OR 2 OR 4 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery_Terms__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Terms__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Limit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Credit_Limit_Payment_Terms_Delivery_Terms</targetReference>
            </connector>
            <label>Credit, Payment, Delivery Is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Discount_Class_Check</name>
        <label>Discount Class Check</label>
        <locationX>182</locationX>
        <locationY>2123</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discount_Class_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Discount_Class__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Discount_Class</targetReference>
            </connector>
            <label>Discount Class is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Expired_Date_Set</name>
        <label>Is the Expired Date Set</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Discount_Class_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expired_Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expired__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Account</targetReference>
            </connector>
            <label>Expired Not Set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BillingCountryChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.BillingCountry})</expression>
    </formulas>
    <interviewLabel>Account - Created or Updated Master Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Created or Updated Master Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_to_See_if_Billing_Country_Has_Changed</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Activate_Account</name>
        <label>Activate Account</label>
        <locationX>50</locationX>
        <locationY>1931</locationY>
        <connector>
            <targetReference>Discount_Class_Check</targetReference>
        </connector>
        <flowName>Activate_Account</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Additional_Discount_Notify_Helpdesk</name>
        <label>Additional Discount Notify Helpdesk</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Are_Navex_Checks_Required</targetReference>
        </connector>
        <flowName>Additional_Discount_Notify_Helpdesk</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.ID__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Key_Address_Information_Missing</name>
        <label>Key Address Information Missing</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Credit_Payment_and_Delivery_Null_Check</targetReference>
        </connector>
        <flowName>Key_Address_Information_Missing</flowName>
        <inputAssignments>
            <name>recordid</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Navex_Compliance_Checks_before_set_up_in_IFS</name>
        <label>Navex Compliance - Checks before set-up in IFS.</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Is_the_Expired_Date_Set</targetReference>
        </connector>
        <flowName>Navex_Compliance_Checks_before_set_up_in_IFS</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Region_Update</name>
        <label>Region Update</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Address_Null_Check</targetReference>
        </connector>
        <flowName>Region_Update</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Credit_Limit_Payment_Terms_Delivery_Terms</name>
        <label>Update Credit Limit, Payment Terms &amp; Delivery Terms</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Additional_Discount_Check</targetReference>
        </connector>
        <flowName>Update_Credit_Limit_Payment_Terms_Delivery_Terms</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Update_Discount_Class</name>
        <label>Update Discount Class</label>
        <locationX>50</locationX>
        <locationY>2231</locationY>
        <flowName>Update_Discount_Class</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
