Account/Flows/Account_Created_Master_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Account_Region</name>
        <label>Account Region</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X300_Americas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>300 Americas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Owner_Americas</targetReference>
            </connector>
            <label>300 Americas</label>
        </rules>
    </decisions>
    <description>Master flow for all Account auto launched flows that are launched on creation of a record</description>
    <environments>Default</environments>
    <interviewLabel>Account - Created Master Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Created Master Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Region</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Account_Owner_Americas</name>
        <label>Assign Account Owner Americas</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>Assign_Account_Owner_Americas</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
