Account/Flows/Account_Updated_Master_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Expired_Date_Null_Check</name>
        <label>Expired Date Null Check</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expired__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dealer_Expired</targetReference>
            </connector>
            <label>Date Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Is_Account_Status</name>
        <label>What Is Account Status</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Contacts_to_Active</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expire_Contacts_Related_to_Expired_Account</targetReference>
            </connector>
            <label>Expired</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account - Updated Master Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Updated Master Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Is_Account_Status</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Dealer_Expired</name>
        <label>Dealer Expired</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <flowName>Dealer_Expired</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Expire_Contacts_Related_to_Expired_Account</name>
        <label>Expire Contacts Related to Expired Account</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Expired_Date_Null_Check</targetReference>
        </connector>
        <flowName>Expire_Contacts_Related_to_Expired_Account</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Related_Contacts_to_Active</name>
        <label>Update Related Contacts to Active</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Expired_Date_Null_Check</targetReference>
        </connector>
        <flowName>Update_Related_Contacts_to_Active</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
